n8n-gbp-reviews.json
{
  "name": "GBP Reviews → Supabase (cada 2h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Dispara cada 2 horas. Para probar manualmente: click 'Test workflow'."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-01",
              "name": "GBP_ACCOUNT_ID",
              "value": "accounts/TU_ACCOUNT_ID_AQUI",
              "type": "string"
            },
            {
              "id": "cfg-02",
              "name": "GBP_LOCATION_ID",
              "value": "locations/TU_LOCATION_ID_AQUI",
              "type": "string"
            },
            {
              "id": "cfg-03",
              "name": "SB_URL",
              "value": "https://qjiomlvudfmzuvqvhwpk.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-04",
              "name": "SB_SERVICE_KEY",
              "value": "TU_SUPABASE_SERVICE_ROLE_KEY_AQUI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "notes": "EDITA ESTOS 4 VALORES:\n- GBP_ACCOUNT_ID: el que ves en localStorage gbp_account_id\n- GBP_LOCATION_ID: el que ves en localStorage gbp_location_id\n- SB_SERVICE_KEY: Settings → API → service_role key en Supabase"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://mybusiness.googleapis.com/v4/' + $json.GBP_ACCOUNT_ID + '/' + $json.GBP_LOCATION_ID + '/reviews?orderBy=updateTime%20desc&pageSize=50' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "GET Reviews (GBP API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "REEMPLAZA_CON_ID_CREDENCIAL_N8N",
          "name": "Google Business Profile OAuth2"
        }
      },
      "notes": "Credencial OAuth2 requerida en n8n:\n- Token URL: https://oauth2.googleapis.com/token\n- Auth URL: https://accounts.google.com/o/oauth2/v2/auth\n- Client ID: 305772129726-bkljrvm6f29gvj821tvk671iu3786i4l.apps.googleusercontent.com\n- Client Secret: (de Google Cloud Console)\n- Scope: https://www.googleapis.com/auth/business.manage\n- Autentica con monigp75@gmail.com"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SB_URL + '/rest/v1/reviews?select=review_id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SB_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "GET IDs existentes (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "notes": "Lee los review_id que ya existen en Supabase para no duplicar inserts."
    },
    {
      "parameters": {
        "jsCode": "// ── Filtrar reseñas nuevas y formatearlas para Supabase ──────\n\n// Reseñas recibidas de GBP\nconst gbpResponse = $('GET Reviews (GBP API)').first().json;\n\nif (gbpResponse.error) {\n  const msg = gbpResponse.error.message || JSON.stringify(gbpResponse.error);\n  // Si es error de quota o permisos, loguear y detener sin fallar el workflow\n  if (msg.includes('PERMISSION_DENIED') || msg.includes('quota') || msg.includes('403')) {\n    console.log('[GBP] API restringida o quota agotada:', msg);\n    return []; // detiene el workflow limpiamente\n  }\n  throw new Error('GBP API error: ' + msg);\n}\n\nconst gbpReviews = gbpResponse.reviews || [];\n\n// IDs ya guardados en Supabase\nconst existingRows = $input.all();\nconst existingIds  = new Set(existingRows.map(r => r.json.review_id).filter(Boolean));\n\n// Mapeo estrellas\nconst STAR_MAP = { ONE: 1, TWO: 2, THREE: 3, FOUR: 4, FIVE: 5 };\n\n// Filtrar solo nuevas y formatear\nconst newReviews = gbpReviews\n  .filter(r => r.reviewId && !existingIds.has(r.reviewId))\n  .map(r => ({\n    review_id:    r.reviewId,\n    author:       r.reviewer?.displayName || 'Anónimo',\n    rating:       STAR_MAP[r.starRating]  || 5,\n    text:         r.comment              || '',\n    date:         r.createTime           || r.updateTime || new Date().toISOString(),\n    status:       r.reviewReply ? 'published' : 'pending',\n    draft_response:     '',\n    published_response: r.reviewReply?.comment || '',\n    location_id:  $('Config').first().json.GBP_LOCATION_ID\n  }));\n\nconsole.log(`[GBP Sync] Total GBP: ${gbpReviews.length} | Ya en SB: ${existingIds.size} | Nuevas: ${newReviews.length}`);\n\nreturn newReviews.map(r => ({ json: r }));"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Filtrar nuevas + formatear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "notes": "Compara GBP vs Supabase. Solo inserta las reseñas que NO existen en la tabla.\nSi la API de GBP devuelve PERMISSION_DENIED, detiene el workflow sin error."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "¿Hay reseñas nuevas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "notes": "true → insertar en Supabase\nfalse → terminar sin hacer nada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SB_URL + '/rest/v1/reviews' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "INSERT nuevas (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 220],
      "notes": "Inserta solo las reseñas nuevas. No sobreescribe drafts ni status existentes.\nUsa service_role key — bypasea RLS."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Sin reseñas nuevas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1520, 400],
      "notes": "No hay reseñas nuevas. Workflow termina limpiamente."
    }
  ],
  "connections": {
    "Cada 2 horas": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "GET Reviews (GBP API)", "type": "main", "index": 0 }]
      ]
    },
    "GET Reviews (GBP API)": {
      "main": [
        [{ "node": "GET IDs existentes (Supabase)", "type": "main", "index": 0 }]
      ]
    },
    "GET IDs existentes (Supabase)": {
      "main": [
        [{ "node": "Filtrar nuevas + formatear", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar nuevas + formatear": {
      "main": [
        [{ "node": "¿Hay reseñas nuevas?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hay reseñas nuevas?": {
      "main": [
        [{ "node": "INSERT nuevas (Supabase)", "type": "main", "index": 0 }],
        [{ "node": "Sin reseñas nuevas",       "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "gbp" },
    { "name": "supabase" },
    { "name": "amalay" }
  ],
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "fullsite-amalay"
  }
}
