n8n-gbp-reviews.json
{
  "name": "GBP Reviews → Supabase (cada 2h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Dispara cada 2 horas. Para probar manualmente: click 'Test workflow'."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-01",
              "name": "PLACE_ID",
              "value": "ChIJaWLI94y9YoYRFMx7lsctGqM",
              "type": "string"
            },
            {
              "id": "cfg-02",
              "name": "PLACES_API_KEY",
              "value": "AIzaSyDyZtyCwA8gTOmJFcEjMqQDg8CSAMC2qNs",
              "type": "string"
            },
            {
              "id": "cfg-03",
              "name": "SB_URL",
              "value": "https://qjiomlvudfmzuvqvhwpk.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-04",
              "name": "SB_SERVICE_KEY",
              "value": "TU_SUPABASE_SERVICE_ROLE_KEY_AQUI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "notes": "EDITA ESTOS VALORES:\n\n1. PLACE_ID → cómo encontrarlo:\n   - Ve a maps.google.com → busca 'AMALAY Coffee Market'\n   - Haz clic en el negocio → copia la URL\n   - Busca el segmento que empieza con '1s' después de '!1s': ése es el place_id\n   - Ejemplo: ChIJN1t_tDeuEmsRUsoyG83frY4\n   - Alternativa: abre Chrome DevTools en tu War Room, ejecuta:\n     fetch('https://places.googleapis.com/v1/places:searchText',{method:'POST',headers:{'Content-Type':'application/json','X-Goog-Api-Key':'AIzaSyDyZtyCwA8gTOmJFcEjMqQDg8CSAMC2qNs','X-Goog-FieldMask':'places.id,places.displayName'},body:JSON.stringify({textQuery:'AMALAY Coffee Market'})})\n     .then(r=>r.json()).then(console.log)\n\n2. PLACES_API_KEY → ya está prellenada (proyecto fullsite-amalay)\n   IMPORTANTE: primero habilita billing en console.cloud.google.com\n   (Places API requiere billing aunque tengas crédito gratis)\n\n3. SB_SERVICE_KEY → Settings → API → service_role key en Supabase"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://places.googleapis.com/v1/places/' + $json.PLACE_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $json.PLACES_API_KEY }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "reviews,rating,userRatingCount,displayName"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "GET Reviews (Places API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "notes": "Places API (New) — no requiere OAuth2, solo API Key.\nDevuelve máximo 5 reseñas (límite de Google).\nNo requiere aprobación especial de Google.\n\nSi ves error 403 SERVICE_DISABLED:\n→ Habilita billing en console.cloud.google.com (necesario aunque tengas $200 de crédito gratis)\n→ El uso real es ~$0.017/request = ~$1/mes al ritmo de 2h"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SB_URL + '/rest/v1/reviews?select=review_id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SB_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "GET IDs existentes (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "notes": "Lee los review_id que ya existen en Supabase para no duplicar inserts."
    },
    {
      "parameters": {
        "jsCode": "// ── Filtrar reseñas nuevas y formatearlas para Supabase ──────\n// Fuente: Places API (New) — formato diferente a GBP API v4\n\n// Respuesta de Places API\nconst placesResponse = $('GET Reviews (Places API)').first().json;\n\nif (placesResponse.error) {\n  const msg = placesResponse.error.message || JSON.stringify(placesResponse.error);\n  if (msg.includes('SERVICE_DISABLED') || msg.includes('PERMISSION_DENIED') || msg.includes('billing')) {\n    console.log('[Places] API deshabilitada o billing requerido:', msg);\n    return []; // detiene limpiamente\n  }\n  throw new Error('Places API error: ' + msg);\n}\n\n// Places API devuelve reviews en el campo 'reviews' (máx 5)\nconst placesReviews = placesResponse.reviews || [];\nconst placeId = $('Config').first().json.PLACE_ID;\n\n// IDs ya guardados en Supabase\nconst existingRows = $input.all();\nconst existingIds  = new Set(existingRows.map(r => r.json.review_id).filter(Boolean));\n\n// Normalizar formato Places API → esquema Supabase\nconst newReviews = placesReviews\n  .filter(r => {\n    // review_id: último segmento de r.name (\"places/{placeId}/reviews/{reviewId}\")\n    const rid = r.name ? r.name.split('/').pop() : null;\n    return rid && !existingIds.has(rid);\n  })\n  .map(r => {\n    const rid = r.name.split('/').pop();\n    return {\n      review_id:    rid,\n      author:       r.authorAttribution?.displayName || 'Anónimo',\n      rating:       r.rating || 5,                        // ya es entero 1-5\n      text:         r.text?.text || '',\n      date:         r.publishTime || new Date().toISOString(),\n      status:       'pending',\n      draft_response:     '',\n      published_response: '',\n      location_id:  'places/' + placeId\n    };\n  });\n\nconsole.log(`[Places Sync] Total Places: ${placesReviews.length} | Ya en SB: ${existingIds.size} | Nuevas: ${newReviews.length}`);\n\nreturn newReviews.map(r => ({ json: r }));"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Filtrar nuevas + formatear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "notes": "Normaliza formato Places API → Supabase.\n\nDiferencias clave vs GBP API:\n- review_id: último segmento de r.name (no r.reviewId)\n- author: r.authorAttribution.displayName (no r.reviewer.displayName)\n- rating: ya es número entero 1-5 (no ONE/TWO/THREE...)\n- text: r.text.text (no r.comment)\n- date: r.publishTime (no r.createTime)\n- No hay reply en Places API → status siempre 'pending'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "¿Hay reseñas nuevas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "notes": "true → insertar en Supabase\nfalse → terminar sin hacer nada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SB_URL + '/rest/v1/reviews' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SB_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "INSERT nuevas (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 220],
      "notes": "Inserta solo las reseñas nuevas. No sobreescribe drafts ni status existentes.\nUsa service_role key — bypasea RLS."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Sin reseñas nuevas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1520, 400],
      "notes": "No hay reseñas nuevas. Workflow termina limpiamente."
    }
  ],
  "connections": {
    "Cada 2 horas": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "GET Reviews (Places API)", "type": "main", "index": 0 }]
      ]
    },
    "GET Reviews (Places API)": {
      "main": [
        [{ "node": "GET IDs existentes (Supabase)", "type": "main", "index": 0 }]
      ]
    },
    "GET IDs existentes (Supabase)": {
      "main": [
        [{ "node": "Filtrar nuevas + formatear", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar nuevas + formatear": {
      "main": [
        [{ "node": "¿Hay reseñas nuevas?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hay reseñas nuevas?": {
      "main": [
        [{ "node": "INSERT nuevas (Supabase)", "type": "main", "index": 0 }],
        [{ "node": "Sin reseñas nuevas",       "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "gbp" },
    { "name": "supabase" },
    { "name": "amalay" },
    { "name": "places-api" }
  ],
  "versionId": "1.1.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "fullsite-amalay"
  }
}
